.hidden-section {
  color: aqua;
  max-width: 80%;
  min-width: 80%;
  display: flex;
  justify-content: flex-start;
}

.hidden-section p {
  font-size: 1.5rem;
}

.hidden-section span {
  color: yellow;
}
