.form-section {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 200px;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  max-width: 400px;
}

input {
  margin-bottom: 10px;
}

.row {
  margin-bottom: 5px;
}

button {
  background-color: aqua;
  color: darkslategray;
  height: 30px;
  font-weight: 900;
  font-size: 1.25rem;
  cursor: pointer;
}
button:hover {
  background-color: magenta;
  color: cyan;
}

button:active {
  background-color: yellow;
  color: darkslategray;
}

label {
  color: yellow;
  margin-bottom: 5px;
}

input {
  height: 30px;
  padding-left: 5px;
  color: aqua;
}

form p {
  color: cyan;
}
